In [108]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns",None)

In [109]:
logs_web =pd.read_csv('logs_web.csv')
logs_web.head()

,browser,datetime,ip_anonymized,language,message
0,chrome,2015-09-01 00:02:14,9631420eea21b0458d01f7cc598c3ac2,en,0
1,firefox,2015-09-01 00:04:25,08bd4c63e1abb0e624cde4ac1518de73,ru,2
2,firefox,2015-09-01 00:07:34,07678caba7be8bbadead98d5b530c5ff,de,1
3,chrome,2015-09-01 00:07:47,ba759e7216a6a73d55591aed389ce2ad,en,2
4,chrome,2015-09-01 00:08:41,db166a3780720484f9ca31b093c5b6f0,en,1

In [110]:
logs_web.shape

(6438, 5)

In [111]:
logs_not = pd.read_csv('logs_notifications.csv')
logs_not.head()

,browser,datetime,ip_anonymized,language,message
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0
3,chrome,2015-09-01 00:00:00,51178bbf1c09a9a709b719fe948b5bd2,en,2
4,firefox,2015-09-01 00:00:01,884eec370b6d6bdf20d625039b9a3e8b,en,1

In [112]:
logs_not.shape

(500000, 5)

In [113]:
# Merging 
results = pd.merge(logs_not,logs_web, how='left', on=['ip_anonymized'])
results.head(60)

,browser_x,datetime_x,ip_anonymized,language_x,message_x,browser_y,datetime_y,language_y,message_y
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2,NaN,NaN,NaN,NaN
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0,NaN,NaN,NaN,NaN
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0,NaN,NaN,NaN,NaN
3,chrome,2015-09-01 00:00:00,51178bbf1c09a9a709b719fe948b5bd2,en,2,NaN,NaN,NaN,NaN
4,firefox,2015-09-01 00:00:01,884eec370b6d6bdf20d625039b9a3e8b,en,1,NaN,NaN,NaN,NaN
5,chrome,2015-09-01 00:00:02,320cfe145fa062727f213068d2cd502f,es,0,NaN,NaN,NaN,NaN
6,chrome,2015-09-01 00:00:02,648b2d57aba541d5e9817075969482c9,es,1,NaN,NaN,NaN,NaN
7,chrome,2015-09-01 00:00:02,a381be47e7b43d4a60a08eb4be109c52,en,2,NaN,NaN,NaN,NaN
8,chrome,2015-09-01 00:00:02,e1124b0f15f8d3c7dc9afec4c80f09ef,de,2,NaN,NaN,NaN,NaN
9,chrome,2015-09-01 00:00:02,fa452269eac1b44394308846fe2fa64b,de,1,NaN,NaN,NaN,NaN
10,chrome,2015-09-01 00:00:02,bda3d39fa939f9f65281a428bae95b6e,fr,2,NaN,NaN,NaN,NaN
11,firefox,2015-09-01 00:00:03,7f8137067a3da6a2505fed43cc54a416,de,2,NaN,NaN,NaN,NaN
12,chrome,2015-09-01 00:00:03,c17668b00f194083f996215db46e7693,en,2,NaN,NaN,NaN,NaN
13,firefox,2015-09-01 00:00:04,dbfdb6e69a882ba182e475cdd8a1b794,ru,2,NaN,NaN,NaN,NaN
14,firefox,2015-09-01 00:00:04,b1601e05eda73eae7458656d8f8f367f,ru,0,NaN,NaN,NaN,NaN
15,chrome,2015-09-01 00:00:05,f2802ca8857bee80ae59fbd4e22fb286,de,2,NaN,NaN,NaN,NaN
16,firefox,2015-09-01 00:00:05,1445022978f75ad15f2e7921b280883a,fr,2,NaN,NaN,NaN,NaN
17,chrome,2015-09-01 00:00:05,af2de3b7ad83f22e8be828de9b8ae612,es,0,NaN,NaN,NaN,NaN
18,firefox,2015-09-01 00:00:06,db6bb27ebe6c0a512ce1943b9a036010,ru,2,NaN,NaN,NaN,NaN
19,chrome,2015-09-01 00:00:06,54c8e73dc6e72a705b7f96e2920cab70,fr,0,NaN,NaN,NaN,NaN
20,chrome,2015-09-01 00:00:07,6817f6032c495a5d9c1e64d094f383b6,fr,0,NaN,NaN,NaN,NaN
21,chrome,2015-09-01 00:00:07,4ca07cc9917f1df3351cce81b62e506e,de,1,NaN,NaN,NaN,NaN
22,chrome,2015-09-01 00:00:08,a8de625a957516e0838ccedcd464540a,cn,0,NaN,NaN,NaN,NaN
23,firefox,2015-09-01 00:00:09,8f4dbb3694da4682f8579d488d8d9e5d,es,0,NaN,NaN,NaN,NaN
24,firefox,2015-09-01 00:00:10,18898663464e6d7a387b5ad0909cf9c9,ru,1,NaN,NaN,NaN,NaN
25,firefox,2015-09-01 00:00:10,ef89a7e545909765132cc7921701f254,de,1,NaN,NaN,NaN,NaN
26,chrome,2015-09-01 00:00:10,4472e77c2422b678cca1c9749c7a4ae2,de,2,NaN,NaN,NaN,NaN
27,chrome,2015-09-01 00:00:11,6484c2a95d44287c2cab8a9f0f647780,es,0,NaN,NaN,NaN,NaN
28,chrome,2015-09-01 00:00:11,70251d872df8d8a2335a378bd076de82,de,1,NaN,NaN,NaN,NaN
29,chrome,2015-09-01 00:00:12,85be74bc79e0dd1f97dd7c6827e71d82,en,0,NaN,NaN,NaN,NaN
30,chrome,2015-09-01 00:00:12,692c89b3f6ba5981b52d1bcf9d57cc9f,en,0,NaN,NaN,NaN,NaN
31,chrome,2015-09-01 00:00:13,cacfcbf148fb01a75e86178bcae775ea,cn,0,NaN,NaN,NaN,NaN
32,firefox,2015-09-01 00:00:13,007e4dea5b85938014c35f5e002da085,en,2,NaN,NaN,NaN,NaN
33,chrome,2015-09-01 00:00:13,81761e6f51d2970c8824ac4a140495a7,en,0,NaN,NaN,NaN,NaN
34,firefox,2015-09-01 00:00:13,7b6828964b51cb1fe937e2ffeee7507e,cn,1,NaN,NaN,NaN,NaN
35,chrome,2015-09-01 00:00:14,0badc9c6d571c692df73378948cb336e,en,2,NaN,NaN,NaN,NaN
36,chrome,2015-09-01 00:00:14,b54673f86f61b24aeb4e232a82f097ed,ru,1,NaN,NaN,NaN,NaN
37,firefox,2015-09-01 00:00:14,3b54cd623c75c6a5dd70aa5033ca339e,en,1,NaN,NaN,NaN,NaN
38,chrome,2015-09-01 00:00:14,b0b8423374ff26bffa2e8e62efd71bc3,ru,1,NaN,NaN,NaN,NaN
39,firefox,2015-09-01 00:00:14,d25be8059aba2a040ce57745f7951520,ru,0,NaN,NaN,NaN,NaN
40,chrome,2015-09-01 00:00:14,2c3a1c9ffa6b852613a37e86d5d60bbd,es,1,NaN,NaN,NaN,NaN
41,firefox,2015-09-01 00:00:14,b5c7af23ae396931ed677654cb525102,en,0,NaN,NaN,NaN,NaN
42,chrome,2015-09-01 00:00:14,19188e7d7345b109e631ee0449d25381,de,2,NaN,NaN,NaN,NaN
43,chrome,2015-09-01 00:00:14,2f7aa39b72900b74062c4441b89a751f,de,1,NaN,NaN,NaN,NaN
44,chrome,2015-09-01 00:00:15,27dac48dc2208d1469bda0e37a39d1ee,en,2,NaN,NaN,NaN,NaN
45,firefox,2015-09-01 00:00:15,d31163a3f0267d1e96be75720e7cf0ff,cn,1,NaN,NaN,NaN,NaN
46,chrome,2015-09-01 00:00:15,a8e0e4a65a458e4a8955ed31c0350841,fr,0,NaN,NaN,NaN,NaN
47,chrome,2015-09-01 00:00:16,5d4f71b844ba90a64d0408e8861cb5e2,de,2,NaN,NaN,NaN,NaN
48,firefox,2015-09-01 00:00:16,405b19731049e41cc23a6c82254cb838,de,0,NaN,NaN,NaN,NaN
49,chrome,2015-09-01 00:00:17,03dd75a9b0672e029d5f54da07da73a2,cn,2,NaN,NaN,NaN,NaN
50,chrome,2015-09-01 00:00:17,f741062fd7458674f9f24008420e3a8f,ru,2,NaN,NaN,NaN,NaN
51,firefox,2015-09-01 00:00:18,7112c9b1dde5696abe328881bcb4c2db,de,0,NaN,NaN,NaN,NaN
52,chrome,2015-09-01 00:00:19,bed4b8c32301c81c287c7b6c4e451dc6,en,1,NaN,NaN,NaN,NaN
53,chrome,2015-09-01 00:00:19,04b241394472e08b0c4b3a757d1027f4,en,0,NaN,NaN,NaN,NaN
54,chrome,2015-09-01 00:00:19,8ac6c887db2e83c6fd50b790aef551cb,de,0,NaN,NaN,NaN,NaN
55,firefox,2015-09-01 00:00:19,48324058d8bd1ac1b48453bef73a9b42,en,1,NaN,NaN,NaN,NaN
56,chrome,2015-09-01 00:00:20,700fda6cff4dbdd43530f19fb4adeb38,ru,2,NaN,NaN,NaN,NaN
57,chrome,2015-09-01 00:00:20,e25db9c32901cf2dab9e03fb8147bbf9,en,1,NaN,NaN,NaN,NaN
58,chrome,2015-09-01 00:00:21,33974cfbbecfd729b966ffd408d86e9f,en,0,NaN,NaN,NaN,NaN
59,chrome,2015-09-01 00:00:21,1646bfb1a065beab07635a81492760d1,en,0,NaN,NaN,NaN,NaN

In [114]:
results.isnull().sum(axis = 0)

browser_x             0
datetime_x            0
ip_anonymized         0
language_x            0
message_x             0
browser_y        493616
datetime_y       493616
language_y       493616
message_y        493616
dtype: int64

In [115]:
# np.where(df['column name'].isnull(), 0,1)  filipa's code 
results["browser_y"].fillna(0, inplace = True)

In [116]:
results['browser_y'].value_counts()

0          493616
chrome       3590
firefox      2794
Name: browser_y, dtype: int64

In [117]:
# creating another column, if ['browser_y']isnot 'NAN' give me 1 ir not give me 0
results['proceed'] = np.where(results['browser_y']==0,0,1)
results.head()

,browser_x,datetime_x,ip_anonymized,language_x,message_x,browser_y,datetime_y,language_y,message_y,proceed
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2,0,NaN,NaN,NaN,0
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0,0,NaN,NaN,NaN,0
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0,0,NaN,NaN,NaN,0
3,chrome,2015-09-01 00:00:00,51178bbf1c09a9a709b719fe948b5bd2,en,2,0,NaN,NaN,NaN,0
4,firefox,2015-09-01 00:00:01,884eec370b6d6bdf20d625039b9a3e8b,en,1,0,NaN,NaN,NaN,0

In [118]:
results['proceed'].value_counts()

0    493616
1      6384
Name: proceed, dtype: int64

In [119]:
results['message_x'].value_counts()

1    167055
2    166744
0    166201
Name: message_x, dtype: int64

In [120]:
x = pd.get_dummies(results['message_x'],drop_first=True)
x

        1  2
0       0  1
1       0  0
2       0  0
3       0  1
4       1  0
...    .. ..
499995  0  0
499996  0  0
499997  1  0
499998  0  1
499999  0  1

[500000 rows x 2 columns]

In [121]:
Y = results['proceed']
X = x
X = sm.add_constant(X)
model = sm.Logit(Y, X)
results = model.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.068291
         Iterations 8

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                proceed   No. Observations:               500000
Model:                          Logit   Df Residuals:                   499997
Method:                           MLE   Df Model:                            2
Date:                Mon, 16 Nov 2020   Pseudo R-squ.:                0.001078
Time:                        09:01:00   Log-Likelihood:                -34146.
converged:                       True   LL-Null:                       -34183.
Covariance Type:            nonrobust   LLR p-value:                 1.001e-16
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.5011      0.024   -191.178      0.000      -4.547      -4.455
1              0.2643      0.031      8.439      0.000       0.203       0.326
2              0.1772      0.032      5.549      0.000       0.115       0.240
==============================================================================
"""

In [122]:
Y = results['proceed']
X = results['browser_x'] 
X = sm.add_constant(X)
model = sm.Logit(Y, X)
results = model.fit()
results.summary()

TypeError: 'BinaryResultsWrapper' object is not subscriptable

# Trying to practice more on my own

In [77]:
 new_result = pd.merge(logs_not,logs_web, on=['browser', 'ip_anonymized', 'language','message'], how='left')

In [78]:
new_result.head(3)

,browser,datetime_x,ip_anonymized,language,message,datetime_y
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2,NaN
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0,NaN
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0,NaN

In [79]:
new_result.rename(columns={'datetime_x':'datetime_noti', 'datetime_y':'datetime_web'}, inplace=True)

In [80]:
new_result.head(2)

,browser,datetime_noti,ip_anonymized,language,message,datetime_web
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2,NaN
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0,NaN

In [81]:
new_result['proceed'] = np.where(new_result['datetime_web'].isna(), 0,1)

In [82]:
new_result.head(3)

,browser,datetime_noti,ip_anonymized,language,message,datetime_web,proceed
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2,NaN,0
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0,NaN,0
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0,NaN,0

In [83]:
set(new_result['proceed'])

{0, 1}

In [84]:
# With the output of this code, we can see that Spanish is crappy with 0 proceed or clicked
pd.pivot_table(new_result,index=["language"], columns=['proceed'],aggfunc=np.sum)

           message
proceed          0       1
language
cn         33603.0   436.0
de        117848.0  2325.0
en        161589.0  2748.0
es         50858.0     NaN
fr         50350.0   884.0
ru         79555.0   347.0

In [85]:
# from teacher
pd.crosstab(new_result['language'], new_result['proceed'])

proceed        0     1
language
cn         33423   512
de        117882  2036
en        161285  2716
es         50963     0
fr         50500   823
ru         79563   297

Getting of dummies for the dataframe

In [126]:
dum_mes = pd.get_dummies(new_result['message'],drop_first=True)
# dum_mes
dum_brow = pd.get_dummies(new_result['browser'], drop_first=True)
# dum_brow
dum_lang = pd.get_dummies(new_result['language'], drop_first=True)
# dum_mes

In [94]:
# Since the set() of message is 3 values,  do we still need to drop_first=True?
set(new_result['message'])

{0, 1, 2}

In [125]:
# my code
Y = new_result['proceed']
X = dum_mes 
X = sm.add_constant(X)
model = sm.Logit(Y, X)
results = model.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.068291
         Iterations 8

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                proceed   No. Observations:               500000
Model:                          Logit   Df Residuals:                   499997
Method:                           MLE   Df Model:                            2
Date:                Mon, 16 Nov 2020   Pseudo R-squ.:                0.001078
Time:                        09:03:17   Log-Likelihood:                -34146.
converged:                       True   LL-Null:                       -34183.
Covariance Type:            nonrobust   LLR p-value:                 1.001e-16
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.5011      0.024   -191.178      0.000      -4.547      -4.455
1              0.2643      0.031      8.439      0.000       0.203       0.326
2              0.1772      0.032      5.549      0.000       0.115       0.240
==============================================================================
"""

In [129]:
y = new_result[['proceed']]
X = pd.concat([pd.get_dummies(new_result['browser'], drop_first=True), pd.get_dummies(new_result['language'], drop_first=True), pd.get_dummies(new_result['message'], drop_first=True)], axis=1) 
X = sm.add_constant(X)
model = sm.Logit(y, X).fit()
model.summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.065582
         Iterations: 35

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                proceed   No. Observations:               500000
Model:                          Logit   Df Residuals:                   499991
Method:                           MLE   Df Model:                            8
Date:                Mon, 16 Nov 2020   Pseudo R-squ.:                 0.04071
Time:                        09:07:35   Log-Likelihood:                -32791.
converged:                      False   LL-Null:                       -34183.
Covariance Type:            nonrobust   LLR p-value:                     0.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.5031      0.050    -89.955      0.000      -4.601      -4.405
firefox        0.4495      0.025     17.657      0.000       0.400       0.499
de             0.1192      0.050      2.392      0.017       0.022       0.217
en             0.0952      0.049      1.961      0.050    3.73e-05       0.190
es           -28.5348   5.63e+04     -0.001      1.000    -1.1e+05     1.1e+05
fr             0.0629      0.057      1.109      0.268      -0.048       0.174
ru            -1.4121      0.073    -19.278      0.000      -1.556      -1.269
1              0.2617      0.031      8.341      0.000       0.200       0.323
2              0.1757      0.032      5.495      0.000       0.113       0.238
==============================================================================

Possibly complete quasi-separation: A fraction 0.10 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""